* {
    font-family: 'Montserrat', sans-serif;
}

/*navigation bar*/

/*navigation hover*/
nav a:hover {
    color:#000000;
    background-color: #6bcdb2;
}

/*headers + text format*/
h1 {
    font-weight: 700;
    color: #6bcdb2;
    font-size: xx-large;
}

h2.homepage {
    font-weight: 700;
}

h3 {
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
    font-weight: bold;
}

h3.resume {
    color: #6bcdb2;
    font-size: x-large;
}

        .section-head {
            color: #6bcdb2;
        }

h4 {
    font-weight: bold;
    font-size: large;
}

p {
    font-weight: 300;
    font-size-adjust: inherit;
    line-height: 22px;
}

.header {
    margin-left: 10%;
}

.heading-a {
    text-align: center;
    padding-bottom: 20px;
}

/*lists*/
ul.a {
    list-style: none;
    line-height: 22px;
}

ul.resume li::before {
    content: "\2022";
    color: #6bcdb2;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
}

/*buttons*/
.btn {
    color: white;
    background-color: #a32035;
    border: none;
}

.btn:hover {
    background-color: #781827;
    color: white;
}

.home-button {
    background-color: #a32035;
    border: none;
    color: white;
    font-weight: bold;
    padding: 15px 32px;
    margin-top: 15px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.home-button:hover {
    background-color: white;
    color: black;
    border-style: solid;
    border-color: #6bcdb2;
    border-width: 1px;
}

/*portfolio featured posts*/

.hr-portfolio {
    margin-top: 60px;
    border: 1px solid #abb1bd;
}

.resume {
    margin: 0;
}

/*links*/

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: paleturquoise;
}

a:active {
    text-decoration: none;
}

/*layout structure*/


.featured-post {
    border: none;
}

body {
    margin-bottom:100px;
}

.top-margin {
    margin-top:3em;
}

.flex-container {
    display: flex;
    flex-direction: row;
    align-content: center;
    margin-left: 10%;
    margin-right: 10%;
    align-content: space-between;
}

.flex-row {
    width: 100%;
    padding: 20px;
}

.card {
    margin:20px;
}

.mb-3 {
    width: 100%;
}

.flex-row-resume {
    width: 100%;
}

footer {
    padding-top: 30px;
}

/*image format*/
.headshot {
    width: 100%;
    flex-shrink: 0;
}

/*media queries*/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .xs-column {
        flex-direction: column;
    }
    .headshot {
        width: 100%;
    }
    .homepage-header {
        flex-direction: column-reverse;
    }
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    .s-column {
        flex-direction: column;
    }
    .card {
        margin: none;
    }
    .homepage-header {
        flex-direction: column-reverse;
    }
}
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .l-column {
        flex-direction: row;
    }
  } 
